@page "/stock"
@rendermode InteractiveServer
@using Layout
@using SIGPAST.Features.ApresentacaoProdutos
@using SIGPAST.Features.ApresentacaoIngredientes
@using SIGPAST.Pages
@inject NavigationManager NavigationManager
@layout MainLayout

<PageTitle>Stock</PageTitle>

<AuthorizeView Roles="administrador,funcionario">
    <Authorized>
        <div class="body-left flex-item">
            <p class="left background center">
                <div class="left-content">
                    <div class="left-title">
                        <h1>É só encomendar e aproveitar</h1>
                    </div>

                    <ApresentacaoProdutos Small=true />
                </div>
            </p>
        </div>

        <div class="body-right flex-item">
            <div class="right-content">
                <div class="right-title1">
                    Stock
                </div>

                <div class="right-title2">
                    <ApresentacaoIngredientes />
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
		<AcessoNegado />
    </NotAuthorized>
</AuthorizeView>
