@page "/acesso-negado"
@inject NavigationManager navManager


<div class="background" style="width:100%; display:flex; flex-direction:column; justify-content:space-around; align-items:center; background-color:#f4e492">
	<h1>Acesso negado</h1>
	<a href="/" style="border:2px solid #242424; border-radius:50px; padding:8px 20px; font-size: 26px; font-weight:450;">
		Página Inicial
	</a>
</div>